body {

    font-family: 'Muli', sans-serif;
    font-size: 1.15rem;
}

p {
    font-family: 'Open Sans', sans-serif !important;
}

.hero-section {

    padding: 4% 0 6% 0 !important;

}
.hero-section .display-3 {
    font-weight: 900;
    color: #232e3d !important;
    line-height: 1.1;
}

.case-study-section {
    background: url(https://images.pexels.com/photos/1640777/pexels-photo-1640777.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-color: rgba(61, 80, 119, 0.397);
    background-size: cover;
}