body {

    font-family: 'Muli', sans-serif;
    font-size: 1.15rem;
}

p {
    font-family: 'Open Sans', sans-serif !important;
}

.hero-section {

    padding: 11% 0 9% 0 !important;

}
.hero-section .display-3 {
    font-weight: bold;
}